# رابط الباك إند بتاعك على Vercel
ZID_PROXY_URL=https://zid-backend-vercel.vercel.app/api/exchange-token

# بيانات تطبيقك في زد (حط أرقامك الحقيقية هنا)
ZID_CLIENT_ID=6231
ZID_REDIRECT_URI=https://zedstore.ct.ws/auth.php

# إعدادات عامة
ZID_API_BASE=https://api.zid.sa
ZID_API_TIMEOUT=30000
ENABLE_VERBOSE_LOGGING=false
SEARCH_URL=https://api.marketcheck.com/v2/search/car/active